<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>663901949622-0vd7istdhg1bo2f15mmsahdrvimv418n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663901949622-0vd7istdhg1bo2f15mmsahdrvimv418n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>663901949622-mjqhbs1iu5e0p5c799r5raio0v301d54.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpfI_8lWszwl7Vt22gW62dezdIGyOJ-rw</string>
	<key>GCM_SENDER_ID</key>
	<string>663901949622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carinaschoppe.bytescoding</string>
	<key>PROJECT_ID</key>
	<string>gravity-4nci7k</string>
	<key>STORAGE_BUCKET</key>
	<string>gravity-4nci7k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663901949622:ios:6b3946f83ece8a15aae017</string>
</dict>
</plist>