<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321124574130-bv7fut8oq5ruoa3dho6edllvn56u4m93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321124574130-bv7fut8oq5ruoa3dho6edllvn56u4m93</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321124574130-2bgn5g2id0ag2gi8um41g16qg16ef492.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBV1wTMJWBXj6jk4vXxQDCEk4L9FkmJocs</string>
	<key>GCM_SENDER_ID</key>
	<string>321124574130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bytescoding.administration</string>
	<key>PROJECT_ID</key>
	<string>bytes-coding-admin-tool</string>
	<key>STORAGE_BUCKET</key>
	<string>bytes-coding-admin-tool.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321124574130:ios:f2ab9f872973feb0543aab</string>
	<key>DATABASE_URL</key>
	<string>https://bytes-coding-admin-tool-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>